target
dist
data
.vscode
.bsp
temp

.DS_Store
.idea

frontend/node_modules

output
.bloop
.metals
project/metals.sbt
project/project

project/target
project/project/target
project/.bloop

frontend/build

/database

log
logs

*/target

*.map
tag.txt
