target
dist
data
.vscode
.bsp
temp

.DS_Store
.idea

/null


demo/node_modules

output
.bloop
.metals
project/metals.sbt
project/project

project/target
project/project/target
project/.bloop

demo/build
demo/dist
demo/scala-metadata.js

/database

log
logs

*/target

*.map
tag.txt
