#root {
  font-family: Quicksand, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

/** Reducing the size of ui5 inputs of type number to only 100px */
ui5-input[type="Number"] {
  width: 100px;
  min-width: 100px;
}
